<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon" 
      type="image/png" 
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <input class="c-checkbox" type="checkbox" id="checkbox">
        <div class="c-formContainer">
          <form class="c-form" action="api/shorturl/new" method="POST">
            <input class="c-form__input" placeholder="URL to be shortened" type="url" name="url" required>
            <label class="c-form__buttonLabel" for="checkbox">
              <button class="c-form__button" type="submit" value="POST URL">Post</button>
            </label>
            <label class="c-form__toggle" for="checkbox" data-title="Short URL"></label>
          </form>
        </div>
      </section>
    </main>
    <footer>
      <p>By <a href="https://web.facebook.com/sepin.arbee/?viewas=100000686899395">Shefin Gani</a></p>
    </footer>
  </body>
</html>
